<!-- First Section -->
<section class="first-sec">
    <header class="head">
        <nav class="navbar navbar-expand-lg navbar-light head__custom-nav">
            <a class="navbar-brand d-flex align-items-center" href="#">
                <img src="../../assets/logo.svg" alt="website logo">
                <span>Online Editor</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span><img src="../../assets/menu.png" alt=""></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="collapse" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="collapse" href="#">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="collapse" href="#">Explore</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="collapse" href="#">Get Started</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="collapse" href="#" matTooltip="Contact Support"><mat-icon>contact_support</mat-icon></a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        <div class="row custom-section d-flex align-items-center">
            <div class="col-12 col-lg-4">
                <h2>Online Editor</h2>
                <h3>Rapid Web Development</h3>
                <p>Code In Browser</p>
                <p>Create & Share Collaborative Sandboxes!</p>
                <a href="#">Get Started</a>
            </div>
            <div class="col-12 col-lg-8">
                <img src="../../assets/code.svg">
            </div>
        </div>
    </div>
</section>

<!-- Second Section  -->
<section class="second-sec padding-lg">
    <div class="container-fluid">
        <div class="row heading heading-icon">
            <h2>Be A Part Of The Workspace</h2>
        </div>
        <ul class="row">
            <li class="col-12 col-md-6 col-lg-4">
                <div class="cnt-block equal-hight">
                    <h1>1.3K</h1>
                    <h3>Total Unique Users</h3>
                </div>
            </li>
            <li class="col-12 col-md-6 col-lg-4">
                <div class="cnt-block equal-hight">
                    <h1>100</h1>
                    <h3>Live Public Snippets</h3>
                </div>
            </li>
            <li class="col-12 col-md-6 col-lg-4">
                <div class="cnt-block equal-hight">
                    <h1>3</h1>
                    <h3>Live Languages</h3>
                </div>
            </li>
        </ul>
    </div>
</section>

<!-- Third Section  -->
<section class="third-sec padding-lg">
    <video src="../../assets/programming.mp4" id="prog-video" autoplay loop muted></video>
    <div class="container">
        <div class="row heading heading-icon">
            <h2>Get Started</h2>
        </div>
        <ul class="row">
            <li class="col-12 col-md-6 col-lg-3">
                <div class="cnt-block equal-hight">
                    <figure><img src="../../assets/angular.png" class="img-responsive" alt="">
                    </figure>
                    <h3>Angular</h3>
                    <p>Typescript</p>
                    <div class="row snippets">
                        <div class="col-6">
                            <mat-icon matTooltip="Public Snippets" matTooltipPosition="above">
                                public
                            </mat-icon>
                            <p>22</p>
                        </div>
                        <div class="col-6">
                            <mat-icon matTooltip="Private Snippets" matTooltipPosition="above">
                                vpn_lock
                            </mat-icon>
                            <p>21</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <mat-icon class="play">play_circle_outline</mat-icon>
                            <a href="#">Start Coding</a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="col-12 col-md-6 col-lg-3">
                <div class="cnt-block equal-hight">
                    <figure><img src="../../assets/react.png" class="img-responsive" alt="">
                    </figure>
                    <h3>React.JS</h3>
                    <p>Javascript</p>
                    <div class="row snippets">
                        <div class="col-6">
                            <mat-icon matTooltip="Public Snippets" matTooltipPosition="above">
                                public
                            </mat-icon>
                            <p>15</p>
                        </div>
                        <div class="col-6">
                            <mat-icon matTooltip="Private Snippets" matTooltipPosition="above">
                                vpn_lock
                            </mat-icon>
                            <p>5</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <mat-icon class="play">play_circle_outline</mat-icon>
                            <a href="#">Start Coding</a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="col-12 col-md-6 col-lg-3">
                <div class="cnt-block equal-hight">
                    <figure><img src="../../assets/fewd2.png" class="img-responsive" alt="">
                    </figure>
                    <h3>FEWD</h3>
                    <p>HTML, CSS & JS</p>
                    <div class="row snippets">
                        <div class="col-6">
                            <mat-icon matTooltip="Public Snippets" matTooltipPosition="above">
                                public
                            </mat-icon>
                            <p>14</p>
                        </div>
                        <div class="col-6">
                            <mat-icon matTooltip="Private Snippets" matTooltipPosition="above">
                                vpn_lock
                            </mat-icon>
                            <p>9</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <mat-icon class="play">play_circle_outline</mat-icon>
                            <a href="#">Start Coding</a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="col-12 col-md-6 col-lg-3">
                <div class="cnt-block equal-hight">
                    <figure><img src="../../assets/nodejs.png" class="img-responsive" alt="">
                    </figure>
                    <h3>Node.JS</h3>
                    <p>Javascript</p>
                    <div class="row snippets">
                        <div class="col-6">
                            <mat-icon matTooltip="Public Snippets" matTooltipPosition="above">
                                public
                            </mat-icon>
                            <p>16</p>
                        </div>
                        <div class="col-6">
                            <mat-icon matTooltip="Private Snippets" matTooltipPosition="above">
                                vpn_lock
                            </mat-icon>
                            <p>7</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <mat-icon class="play">play_circle_outline</mat-icon>
                            <a href="#">Start Coding</a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>

<!-- Fourth Section  -->
<section class="fourth-sec">
    <div class="container-fluid">
        <div class="row custom-section d-flex align-items-center">
            <div class="col-12 col-lg-7">
                <img src="../../assets/code2.svg">
            </div>
            <div class="col-12 col-lg-5">
                <h2>Why Online Editor?</h2>
                <p>Purpose-built for rapid web development in the browser</p>
                <h3>
                    <mat-icon>stacked_bar_chart</mat-icon> NPM Support
                </h3>
                <p>Use Private Packages or any of 1M+ public ones to build powerful apps</p>
                <h3>
                    <mat-icon>settings</mat-icon> Optimized for Framework
                </h3>
                <p>Custom environment built specifically for each framework</p>
                <h3>
                    <mat-icon>keyboard_return</mat-icon> Command Execution
                </h3>
                <p>Quickly create prototypes by one click. Explore ideas and iterate more</p>
            </div>
        </div>
    </div>
</section>

<!-- Fifth Section  -->
<section class="fifth-sec">
    <h2>Build And Collaborate On Projects</h2>
    <div class="content-container">
        <div class="col-container">
            <div class="column-one">
                <mat-icon>code</mat-icon>
                <h1 class="xl-font"><b>Create Your Own Code</b></h1>
                <h1 class="l-font">Create & Save your snippets on various Frameworks</h1>
                <a href="#">Learn More</a>
            </div>
            <div class="column-two">
                <img class="img-fluid" src="../../assets/createcode.png" alt="CSS">
            </div>
        </div>
    </div>
    <div class="content-container">
        <div class="col-container">
            <div class="column-two">
                <img class="img-fluid" src="../../assets/sharesnip.png">
            </div>
            <div class="column-one">
                <mat-icon>public</mat-icon>
                <h1 class="xl-font"><b>Public Snippet Ready To Help</b></h1>
                <h1 class="l-font">Explore peer's snippets on various Frameworks</h1>
                <a href="#">Learn More</a>
            </div>
        </div>
    </div>
    <div class="content-container">
        <div class="col-container">
            <div class="column-one">
                <mat-icon>dashboard</mat-icon>
                <h1 class="xl-font"><b>Dashboard</b></h1>
                <h1 class="l-font">Check your learning time based on previous usage</h1>
                <a href="#">Learn More</a>
            </div>
            <div class="column-two">
                <img class="img-fluid" src="../../assets/dashboard.png">
            </div>
        </div>
    </div>
</section>

<!-- Sixth Section  -->
<section class="sixth-sec">
    <div class="container">
        <div class="row custom-section d-flex align-items-center">
            <div class="col-12 col-lg-6">
                <h3>Facing Issues?</h3>
                <h3>Having Feedback?</h3>
                <p>Reach Out to Us</p>
                <a href="#"><mat-icon>mail</mat-icon> online_editor_team@infosys.com</a>
            </div>
            <div class="col-12 col-lg-6">
                <img src="../../assets/support.svg">
            </div>
        </div>
    </div>
</section>