h1, h2, h3, p, a {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* First Section Default  */

.first-sec {
    background-color: #fff;
    background-image: url(../../assets/wave.svg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 730px;
    bottom: 0;
    left: 0;
}

.head__custom-nav {
    background-color: #0d47a1;
}

.head__custom-nav .navbar-brand img {
    cursor: pointer;
    max-width: 100px;
    max-height: 30px;
    min-width: 30;
    padding: 3px 0 0 15px;
    display: inline-block;
    vertical-align: top;
}

.head__custom-nav .navbar-brand span {
    font-weight: 500;
    font-size: 22px;
    margin-left: 10px;
    margin-top: 4px;
    color: #fff;
}

.head__custom-nav button {
    padding: 0;
}

.head__custom-nav button span img {
    width: 45px;
}

.head__custom-nav #navbarNav .navbar-nav .nav-item .nav-link {
    color: #fff;
    font-weight: 400;
    padding: 8px 15px;
    white-space: nowrap;
    transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    cursor: pointer;
}

.head__custom-nav #navbarNav .navbar-nav .nav-item .nav-link:hover {
    color: #f73378;
}

.first-sec .custom-section {
    width: inherit;
    padding: 0;
}

.first-sec .custom-section .col-lg-4 {
    margin-top: 100px;
}

.first-sec .custom-section .col-lg-4 h2 {
    font-weight: 700;
    font-size: 63px;
    color: #fff;
    margin-bottom: 0;
    line-height: 1;
    white-space: nowrap;
    filter: drop-shadow(5px 5px 5px #222);
}

.first-sec .custom-section .col-lg-4 h3 {
    font-weight: 300;
    font-size: 30px;
    color: #fff;
    line-height: 2;
    filter: drop-shadow(3px 3px 3px #222);
}

.first-sec .custom-section .col-lg-4 p {
    color: #fff;
    font-size: 23px;
    margin-top: 20px;
    filter: drop-shadow(1px 1px #f50057);
}

.first-sec .custom-section .col-lg-4 a {
    display: inline-block;
    font-weight: 300;
    padding: 6px 28px;
    color: #fff;
    font-size: 32px;
    background-color: #f50057;
    border: 1px solid transparent;
    margin-top: 45px;
    text-decoration: none;
    transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    border-radius: 25px;
    cursor: pointer;
    position: absolute;
}

.first-sec .custom-section .col-lg-4 a:hover {
    color: #fff;
    background-color: #f73378;
}

.first-sec .custom-section .col-lg-8 img {
    left: 50rem;
    width: 37%;
    position: absolute;
    top: 6rem;
}

.first-sec .hide {
    opacity: 0;
    visibility: hidden;
}

#button2, #button3, #button4, #button5 {
    width: 60px;
    height: 60px;
    margin-left: 60px;
    text-align: center;
    display: inline-block;
    background-color: #f50057;
    border: 1px solid rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 0px;
    -webkit-animation: -webkit-transform 1s;
    animation: transform 1s;
}

#button2 mat-icon, #button3 mat-icon, #button4 mat-icon, #button5 mat-icon {
    -webkit-transform: translate(-15px, 8px) rotate(-45deg);
    transform: translate(-15px, 8px) rotate(-45deg) scale(1.2);
}

#button1 {
    z-index: 10;
    font-size: 25px;
    font-weight: bold;
    -webkit-animation: visibility 3s;
    animation: visibility 3s;
    transform: skew(-10deg);
    border-radius: 0px;
    /* padding: 18px 35px; */
    box-shadow: 8px 8px 0 rgba(0, 0, 0, .5);
}

path.one {
    animation: color_anim 1s infinite 0.6s;
}

path.two {
    animation: color_anim 1s infinite 0.4s;
}

path.three {
    animation: color_anim 1s infinite 0.2s;
}

@keyframes color_anim {
    0% {
        fill: white;
    }

    50% {
        fill: #f73378;
    }

    100% {
        fill: white;
    }
}

.animateUp {
    -webkit-transform: translate(0, -42px) rotate(45deg);
    transform: translate(0, -42px) rotate(45deg);
}

.animateDown {
    -webkit-transform: translate(0, 42px) rotate(45deg);
    transform: translate(0, 42px) rotate(45deg);
}

.animateRight {
    -webkit-transform: translate(42px, 0) rotate(45deg);
    transform: translate(42px, 0) rotate(45deg);
}

.animateLeft {
    -webkit-transform: translate(-42px, 0) rotate(45deg);
    transform: translate(-42px, 0) rotate(45deg);
}



/* First Section Mobile  */

@media screen and (max-width: 766px) {
    .first-sec {
        min-height: 750px;
    }

    .first-sec .custom-section {
        flex-direction: column-reverse;
        padding: 40px 0;
    }

    .first-sec .custom-section .col-lg-4 h2 {
        margin-top: -20%;
        font-weight: 600;
        font-size: 38px;
    }

    .first-sec .custom-section .col-lg-4 h3 {
        font-weight: 200;
        font-size: 34px;
        line-height: 1;
    }

    .first-sec .custom-section .col-lg-8 img {
        left: 160px;
        width: 55%;
        position: relative;
        top: 20px;
    }
}

/* First Section iPad  */

@media screen and (min-width: 767px) and (max-width: 1025px) {
    .first-sec .custom-section .col-lg-8 img {
        left: 225px;
        width: 55%;
        position: relative;
        top: 0;
    }

    .first-sec .custom-section {
        padding: 40px 0;
    }

    .first-sec .custom-section .col-lg-4 h3 {
        line-height: 1;
    }
}

/* Second Section Default  */

.second-sec {
    background: #fff;
    background-image: url(../../assets/wave2.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.second-sec .row.heading h2 {
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    color: #0d47a1;
    margin-bottom: 0;
    margin: 70px 0 0;
}

.second-sec ul {
    margin-top: 2em;
    padding: 0;
    list-style: none;
}

.second-sec .cnt-block {
    float: left;
    width: 100%;
    padding: 10px 20px;
    text-align: center;
    border-radius: 10px;
    margin: 0 0 28px;
    height: 120px;
}

.second-sec .cnt-block h1 {
    color: #f50057;
    font-size: 62px;
    font-weight: 700;
    padding: 6px 0;
}

.second-sec .cnt-block h3 {
    color: #0d47a1;
    font-size: 22px;
    font-weight: 600;
    padding: 6px 0;
}

.second-sec img {
    width: 75px;
    height: 75px;
    cursor: pointer;
}

.second-sec .container.logos {
    margin-top: 70px;
}

.second-sec .container.logos .row .col {
    justify-content: center;
    display: flex;
}

.second-sec.padding-lg {
    padding-top: 5px;
    padding-bottom: 80px;
}


.second-sec .row.logo-heading h2 {
    font-weight: 600;
    font-size: 40px;
    color: #0d47a1;
    margin-bottom: 0;
    line-height: 1;
    text-align: center;
    margin: 0 0 20px 0;
    padding-bottom: 10px;
    filter: drop-shadow(1px 0.5px 0.5px #222);
}

/* Second Section Mobile  */

@media screen and (max-width: 766px) {
    .second-sec {
        height: 65%;
    }

    .second-sec.padding-lg {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .second-sec .row.heading h2 {
        font-size: 30px;
        margin-top: 45px;
        padding-bottom: 2px;
    }

    .second-sec ul li {
        display: inline-block;
        width: 33%;
    }

    .second-sec .cnt-block {
        padding: 30px 10px;
        margin: 0;
    }

    .second-sec .cnt-block h1 {
        font-size: 28px;
        font-weight: 700;
        padding: 0;
    }

    .second-sec .cnt-block h3 {
        font-size: 18px;
        font-weight: 300;
        padding: 0;
    }

    .second-sec img {
        width: 35px;
        height: 35px;
    }

    .second-sec .container.logos {
        margin-top: 60px;
        padding-left: 0px;
        margin: 0 0 2px;
    }
}

/*Second Section iPhone 5*/

@media screen and (min-width: 319px) and (max-width: 321px) {
    .second-sec {
        height: 90%;
    }

    .second-sec img {
        width: 36px;
        height: 36px;
    }
}

/* Second Section iPad  */

@media screen and (min-width: 767px) and (max-width: 1025px) {
    .second-sec {
        height: 55%;
    }

    .second-sec .row.heading h2 {
        font-size: 44px;
        padding-bottom: 2px;
    }

    .second-sec ul li {
        display: inline-block;
        width: 33%;
    }

    .second-sec .cnt-block {
        padding: 30px 10px;
        margin: 0;
    }

    .second-sec .cnt-block h1 {
        font-size: 32px;
        font-weight: 700;
        padding: 0;
    }

    .second-sec .cnt-block h3 {
        font-size: 24px;
        font-weight: 300;
        padding: 0;
    }
}

/* Second Section iPad Pro  */

@media screen and (min-width: 1022px) and (min-height: 1364px) {
    .second-sec {
        height: 45%;
    }
}

/* Third Section Default */

.third-sec {
    background: none;
    height: auto;
}

#prog-video {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    filter: brightness(50%);
}

.third-sec .row.heading h2 {
    font-weight: 600;
    font-size: 40px;
    color: #fff;
    margin-bottom: 0;
    line-height: 1;
    text-align: center;
    margin: 0 0 40px;
    padding-bottom: 20px;
}

.heading.heading-icon {
    display: block;
}

.padding-lg {
    display: block;
    padding-top: 60px;
    padding-bottom: 60px;
}

.third-sec ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.third-sec .cnt-block:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    border: 0;
    transition: all 500ms ease;
    transform: scale(1.05);
}

.third-sec .cnt-block {
    float: left;
    width: 95%;
    background: #fff;
    padding: 30px 20px;
    text-align: center;
    border: 2px solid #d5d5d5;
    border-radius: 10px;
    margin: 0 0 28px;
    height: 400px;
    cursor: pointer;
}

.third-sec .cnt-block figure {
    width: 148px;
    height: 148px;
    border-radius: 100%;
    display: inline-block;
    margin-bottom: 15px;
}

.third-sec .cnt-block img {
    width: 148px;
    height: 148px;
    border-radius: 100%;
}

.third-sec .cnt-block h3 {
    color: #0d47a1;
    font-size: 32px;
    font-weight: 600;
    padding: 6px 0;
}

.third-sec .cnt-block p {
    color: gray;
    font-size: 22px;
    line-height: 20px;
    font-weight: 400;
}

.third-sec .row.snippets p {
    color: black;
    font-size: 17px;
    line-height: 20px;
    font-weight: 500;
}

.third-sec .row.snippets {
    padding: 14px 28px;
    touch-action: none;
    user-select: none;
}

.third-sec .cnt-block a {
    display: none;
}

.third-sec .cnt-block:hover a {
    display: none;
}

.third-sec .cnt-block mat-icon.play {
    display: none;
    font-size: 150px;
    height: 150px;
    width: 150px;
    transform: translate(45px, -45px);
}

.third-sec .cnt-block:hover {
    background: #fff;
}

.third-sec .cnt-block:hover mat-icon {
    display: none;
}

.third-sec .cnt-block:hover mat-icon.play {
    color: #ff1365;
    display: block;
}

.third-sec .cnt-block:hover p {
    display: none;
}

/* Third Section Mobile */

@media screen and (max-width: 766px) {
    .third-sec .row.heading h2 {
        font-size: 30px;
        margin: 0 0 20px;
    }

    .third-sec .cnt-block {
        height: 350px;
    }

    .third-sec .row.snippets {
        display: none;
    }

    .third-sec .cnt-block mat-icon.play {
        display: none;
    }

    .third-sec .cnt-block:hover mat-icon.play {
        display: none;
    }

    .third-sec .cnt-block:hover {
        background: #fff;
    }

    .third-sec .cnt-block a {
        display: inline-block;
        font-size: 22px;
        padding: 10px 28px;
        color: #fff;
        border: 1px solid transparent;
        background: #f50057;
        border-radius: 25px;
        text-decoration: none;
    }

    .third-sec .cnt-block:hover a {
        display: inline-block;
    }

    .third-sec .cnt-block:hover h3 {
        color: #0d47a1;
    }

    .third-sec .cnt-block:hover p {
        color: gray;
    }
}

/* Fourth Section Default */

.fourth-sec {
    background-color: #fff;
    background-image: url(../../assets/wave3.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.fourth-sec .custom-section {
    width: inherit;
    padding: 30px 0;
}

.fourth-sec .custom-section .col-lg-6 img {
    margin: 80px 100px;
    width: 70%;
}

.fourth-sec .custom-section .col-lg-6 {
    display: grid;
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.fourth-sec .custom-section .col-lg-6 div {
    flex-basis: calc(50% - 13px);
    justify-content: center;
    flex-direction: column;
    margin: 30px 0 0 0;
}

.fourth-sec .custom-section .col-lg-6 .box mat-icon {
    color: #f50057;
    font-size: 28px;
    font-weight: 600;
    line-height: 1;
    display: inline-block;
    vertical-align: top;
}

.fourth-sec .custom-section .col-lg-6 .box h3 {
    font-weight: 600;
    font-size: 22px;
    color: #0d47a1;
    margin: 2px 6px 0;
    display: inline-block;
}

.fourth-sec .custom-section .col-lg-6 .box p {
    font-weight: 400;
    color: #1a237e;
    font-size: 22px;
    margin-top: 10px;
    line-height: 1.3;
}

/* Fourth Section Mobile */

@media screen and (max-width: 766px) {
    .fourth-sec .custom-section .col-lg-6 img {
        display: none;
    }

    .fourth-sec .custom-section .col-lg-6 h3 {
        font-weight: 600;
        font-size: 18px;
        margin: 40px 0 0;
    }

    .fourth-sec .custom-section .col-lg-6 p {
        margin-top: 10px;
    }

    .fourth-sec .custom-section .col-lg-6 mat-icon {
        font-size: 22px;
    }
}

/* Fourth Section iPad */

@media screen and (min-width: 767px) and (max-width: 1025px) {
    .fourth-sec .custom-section .col-lg-6 img {
        margin: 5px 10px;
        width: 100%;
    }
}

/* Fifth Section Default */

.fifth-sec {
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0 0 0;
}

.fifth-sec h2 {
    font-weight: 600;
    font-size: 40px;
    color: #1a237e;
    line-height: 1;
    text-align: center;
    padding-bottom: 20px;
}

.fifth-sec .column-one a {
    display: inline-block;
    font-weight: 500;
    padding: 12px 26px;
    color: #fff;
    font-size: 17px;
    background: #f50057;
    border: 1px solid transparent;
    margin-top: 10px;
    text-decoration: none;
    transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    border-radius: 25px;
    cursor: pointer;
}

.fifth-sec .column-one a:hover {
    background: #f73378
}

.fifth-sec .content-container {
    padding: 30px 40px;
}

.fifth-sec .col-container:after {
    content: "";
    display: table;
    clear: both;
}

.fifth-sec .column-one {
    float: left;
    width: 50%;
    padding: 80px 40px;
}

.fifth-sec .column-two {
    float: left;
    width: 50%;
}

.fifth-sec .l-font {
    font-size: 24px;
    color: #0d47a1;
}

.fifth-sec .xl-font {
    font-size: 38px;
    color: #f50057;
}

.fifth-sec .content-container img {
    display: block;
    height: auto;
    max-width: 100%;
    filter: drop-shadow(5px 5px 5px #222);
}

.fifth-sec mat-icon {
    display: none;
}

/* Fifth Section Mobile */

@media screen and (max-width: 766px) {
    .fifth-sec .column-one {
        width: 100%;
        text-align: center;
        padding: 30px 5px 30px 5px;
    }

    .fifth-sec .column-two {
        display: none;
    }

    .fifth-sec .content-container img {
        margin: auto;
    }

    .fifth-sec h2 {
        font-weight: 600;
        font-size: 30px;
        padding: 0;
        margin: 0;
    }

    .fifth-sec .content-container {
        padding: 0;
    }

    .fifth-sec .l-font {
        font-size: 18px;
        margin: 0;
    }

    .fifth-sec .xl-font {
        font-size: 32px;
    }

    .fifth-sec mat-icon {
        display: inline-block;
        color: #1a237e;
        font-size: 56px;
        margin: 0 25px 0 0;
    }
}

/* Fifth Section iPad */

@media screen and (min-width: 767px) and (max-width: 1025px) {
    .fifth-sec .column-one {
        float: left;
        width: 50%;
        padding: 0px 40px;
    }
}

/* Sixth Section */

.sixth-sec {
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}

.sixth-sec .custom-section {
    width: inherit;
    padding: 40px 0;
}

.sixth-sec .custom-section .col-lg-6 {
    margin-top: 10px;
}

.sixth-sec .custom-section .col-lg-6 h3 {
    font-weight: 300;
    font-size: 54px;
    color: #fff;
    line-height: 1;
    filter: drop-shadow(1px 1px 1px #222);
}

.sixth-sec .custom-section .col-lg-6 p {
    color: #f73378;
    font-size: 28px;
    margin-top: 20px;
    filter: drop-shadow(1px 1px 1px #222);
}

.sixth-sec .custom-section .col-lg-6 a {
    display: inline-block;
    font-weight: 300;
    padding: 10px 0;
    color: #fff;
    font-size: 24px;
    margin-top: 15px;
    text-decoration: none;
}

.sixth-sec .custom-section .col-lg-6 img {
    left: 8rem;
    width: 50%;
    position: relative;
}

/* Sixth Section Mobile */

@media screen and (max-width: 766px) {
    .sixth-sec {
        text-align: center;
    }

    .custom-section {
        flex-direction: column-reverse;
    }

    .sixth-sec .custom-section .col-lg-6 h3 {
        font-weight: 200;
        font-size: 39px;
    }

    .sixth-sec .custom-section .col-lg-6 img {
        display: none;
    }

    .sixth-sec .custom-section .col-lg-6 a {
        cursor: pointer;
        font-size: 16px;
    }

    .sixth-sec .custom-section .col-lg-6 a mat-icon {
        font-size: 22px;
    }
}

/* Sixth Section iPad  */

@media screen and (min-width: 767px) and (max-width: 1025px) {
    .sixth-sec .custom-section .col-lg-6 img {
        width: 40%;
        position: relative;
        top: 0;
    }
}